<h1>This is <%= @group.title %> Group's Wall </h1>

<%= link_to 'New Post', new_group_post_path(@group) %>

<div class="col-sm-4">
    <div class="container-fluid">
       <h1>Group Posts</h1>
       <%= link_to 'Switch To Your Posts', user_group_posts_path(:group_id) %><br />
        <%= render 'list' %>
    </div>
  </div>