<div class="container-fluid">

<div class="row-fluid">
   
  <div class="col-sm-7">
      <div class="card card-block">
      <h4 class="card-title"><%= @user.name %>'s Journals</h4>
      <%#= link_to 'New Journal Post', new_user_journal_path(@user) %>
      </div>

      <!--<div class="card card-block">-->
       
        <p>
         <%= render 'form' %>
   
      <!-- </div> -->
  </div>