<div class="container-fluid">

<div class="row-fluid">
  <div class="col-sm-4">
  wikis for: prayer requests, bible reading, profile, etc.
  </div>
  <p>

  <div class="col-sm-4">
    <div class="container-fluid">
       <h1><%= @user.name %>'s Posts</h1>
         <%= render 'list' %>
    </div>
  </div>
</div>

<div class="col-sm-4">
  <h3>My Groups</h3>
  <div class="container-fluid">
    <% @user.groups.each do |group| %>
         <%= group.title %>
         <%= link_to 'Show', group_posts_path(group) %><br />
      <% end %>
      *you have x new activities in this group*
  </div>
      
</div>


