<div class="container-fluid">

<div class="row-fluid">
  <div class="col-sm-4">
  <div class="card card-block">
    <h4 class="card-title">Personalizations</h4>
  wikis for: prayer requests, bible reading, profile, prayer exercises, etc. Some possibilities for personalization here.
  </div>
</div>
  <p>

  <div class="col-sm-4">
    <div class="card card-block">
      <h4 class="card-title"><%= @user.name %>'s Posts</h4>
        <div class="container-fluid">
         <%= render 'list' %>
    </div>
  </div>
</div>

<div class="col-sm-4">
  <div class="card card-block">
      <h4 class="card-title">My Groups</h4>
     <div class="container-fluid">
    <% @user.groups.each do |group| %>
         <%= group.title %>
         <%= link_to 'Show', group_posts_path(group) %><br />
      <% end %>

  </div>
 </div>     
</div>


