<div class="container">
  <h1><%= @organization.name %></h1>
  <br>
  <h5>Organization Admin (name, email)</h5>
  <h5>Organization Address</h5>
  <h5>Tracks Purchased</h5>
  <h5>Billing Details</h5>
  <h5>Groups</h5>
  <h5># of Users</h5>
  <%= link_to 'Back', organizations_path %>
</div>