<div class="container-fluid">
<h1>Reflect</h1>
<p>
<%= @activity.reflect %>
<p>
<%= link_to 'Respond', respond_track_activity_path %><p>
<%= link_to 'Back', receive_track_activity_path %><p>
<%= link_to 'Home', root_url %>
</div>