<!DOCTYPE html>
<html>
  <head>
    <title>Smdevo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="#">Formed</a>
      <ul class="nav navbar-nav pull-xs-right">
         <li class="nav-item">
         <a class="nav-link" href="#">About</a>
         </li>
         <li class="nav-item">
         <a class="nav-link" href="#">Tracks</a>
         </li>
         <li class="nav-item">
         <a class="nav-link" href="#">Users & Groups</a>
         </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
